.App {
}

.App-header {
  background-color: #165916;
  color: white;
  text-align: center;
  font-size: 2.5em;
  height: 80px;
  padding-top: 30px;
}

.App-middle {
  width: 100%;
  overflow: auto;
}

.App-nav {
  float: left;
  width: 200px;
  background-color: #165916;
  color: white;
  height: 2000px;
}

.App-link {
  color: white;
  font-size: 1.5em;
}

.App-nav ul {
  list-style-type: none;
}

.App-nav ul li {
  line-height: 30px;
}

.App-content {
  float: right;
  display: inline-block;
  height: 2000px;
  width: calc(100% - 200px);
}
